{% extends 'layouts/main.html' %}
{% load static %}

{% block body %}
<script>
function fillAddressFields() {
    var select = document.getElementById("address");
    var selectedOption = select.options[select.selectedIndex];
    var addressDetails = selectedOption.dataset;

    document.getElementById("address_fname").value = addressDetails.fname;
    document.getElementById("address_lname").value = addressDetails.lname;
    document.getElementById("address_email").value = addressDetails.email;
    document.getElementById("address_phone").value = addressDetails.phone;
    document.getElementById("address_address").value = addressDetails.address;
    document.getElementById("address_city").value = addressDetails.city;
    document.getElementById("address_state").value = addressDetails.state;
    document.getElementById("address_pincode").value = addressDetails.pincode;
}

</script>
<div class="inner_page-banner one-img" style="text-align: center; background: url('{% static 'lap/images/smallbanner.jpeg' %}') no-repeat center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -ms-background-size: cover; min-height: 350px;"></div>
<br><br>
<section class="section-content padding-y bg">
    <div class="container">
       <form action="{% url 'placeorder' %}" method="POST"> 
            {% csrf_token %}
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
      
                <aside class="col-lg-6">
                    <div class="card shadow">
                        <div class="card-body">
                        <h6>Basic Details</h6>
                        <hr>
                        <div class= "row">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" id="address_fname" name="fname" placeholder="Enter First Name" required>
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" id="address_lname" name="lname" placeholder="Enter Last Name" required>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>Email</label>
                                <input type="email" class="form-control" id="address_email" name="email" placeholder="Enter Email" required>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>Phone</label>
                                <input type="text" class="form-control" id="address_phone" name="phone" placeholder="Enter Phone" required>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label>Address</label>
                                <input type="text" class="form-control" id="address_address" name="address" placeholder="Enter Address" required>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>City</label>
                                <input type="text" class="form-control" id="address_city" name="city" placeholder="Enter City" required>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>State</label>
                                <input type="text" class="form-control" id="address_state" name="state" placeholder="Enter State" required>
                            </div> 
                            <div class="col-md-6 mt-2">
                                <label>Pin code</label>
                                <input type="text" class="form-control" id="address_pincode" name="pincode" placeholder="Enter Pincode" required>
                            </div>
                            <input type="hidden" value="{{ payment_method }}" name="payment_mode">
                            <input type="hidden" value="{{ payment_status }}" name="payment_status">
                            <input type="hidden" name="payment_id" value="{{ payment_id }}"> 

                        </div>
                        
                        </div>
                    </div>
                       
                </aside>

                <aside class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for cart_item in cart_items %}
                                        <tr>
                                            <td>
                                                <figure class="itemside align-items-center">
                                                    <div class="aside">
                                                        <img src="{{ cart_item.product.product_thumbnail.url }}" class="img-sm" style="max-width:50px">
                                                    </div>
                                                    <figcaption class="info">
                                                        <a href="{% url 'single_product' cart_item.product.id %}" class="title text-dark" style="font-size:12px">{{ cart_item.product.product_name }}</a>
                                                        <p class="text-muted small"></p>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td>
                                                <label for="">{{ cart_item.quantity }}</label>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="price">$ {{ cart_item.sub_total| stringformat:'d' }}</var>
                                                    <small class="text-muted"> Rs.{{ cart_item.product.product_price | stringformat:'d'}} each </small>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <h6 class="fw-bold">Grand Total
                              
                                <span id="grand_total" class="float-end"> Rs{{total}}</span>
                            </h6>
                            {% if applied_coupon %}
                                <h4>Discount Price:{{applied_coupon.coupon_name}} coupon <span class="float-end">{{ applied_coupon.discount_price }}</span></h4>
                            {% endif %}
                             <h2>Payment Amount: <span class="float-end">Rs{{ grand_total | stringformat:'d' }}</span></h2>
                            <input type="hidden" value="COD" name="payment_mode">
                            <div class="mt-3" >
                                <button type="submit" class="btn btn-success w-100">COD|Place Order</button>
                                <div id="paypal-button-container" class = "mt-2"></div>
                              
                                 
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title">Select Address</h4>
                            <form method="post" action="{% url 'checkout' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="address">Select Address:</label>
                                    <select class="form-control" id="address" name="address" onchange="fillAddressFields()">
                                        <option value="" disabled selected>Select Address</option>
                                        {% for address in addresses %}
                                            <option value="{{ address.address }}"
                                                data-fname="{{ address.fname }}"
                                                data-lname="{{ address.lname }}"
                                                data-email="{{ address.email }}"
                                                data-phone="{{ address.phone }}"
                                                data-address="{{ address.address }}"
                                                data-city="{{ address.city }}"
                                                data-state="{{ address.state }}"
                                                data-pincode="{{ address.pincode }}">
                                                {{ address.fname }} {{ address.lname }} - {{ address.email }} - {{ address.phone }} - {{ address.address }} - {{ address.city }} - {{ address.state }} - {{ address.pincode }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
        </form>
    </div>
</section>
<div class="container">
    <div class="row">
        <aside class="col-lg-6">
              <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Select Coupon</h4>
                    {% for coupon in coupons %}
                        <button type="button" class="btn btn-primary coupon-btn" data-code="{{ coupon.code }}">{{ coupon.coupon_name }}</button>
                    {% endfor %}
                    <form method="POST" action="{% url 'checkout' %}">
                        {% csrf_token %}
                        <div class="form-group mt-3">
                            <label for="coupon_code">Coupon Code:</label>
                            <input type="text" class="form-control" id="coupon_code" name="coupon_code" placeholder="Enter coupon code" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Apply Coupon</button>
                    </form>
                </div>
            </div> 
        </aside>
    </div>
</div>


{% endblock %} 

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AW7nOGHIIO7vRm5qC_4yJP9Ho9-6uSUFrxsvsgW_N3oBx8Hw98Tb3RWyaIKd_ipLA5ePgY1E-g1iRqgz&currency=USD"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    

    <script>
        // Assign jQuery to a different variable to avoid conflicts
        var jq = jQuery.noConflict();

        jq(document).ready(function() {
            jq('.element').fadeIn();
            jq('.element').fadeOut();
        });

        jq(function() {
            paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'gold',
                shape: 'rect',
            },
            onClick: function(data, actions) {
                var fname = jq("[name='fname']").val();
                var lname = jq("[name='lname']").val();
                var email = jq("[name='email']").val();
                var phone = jq("[name='phone']").val();
                var address = jq("[name='address']").val();
                var city = jq("[name='city']").val();
                var state = jq("[name='state']").val();
                var pincode = jq("[name='pincode']").val();
                var token = jq("[name='csrfmiddlewaretoken']").val();

                if (fname === "" || lname === "" || email === "" || phone === "" || address === "" || city === "" || state === "" || pincode === "") {
                swal("Alert", "All fields are mandatory!", "error");
                return false;
                } else {
                return true;
                }
            },
            createOrder: function(data, actions) {
                return actions.order.create({
                purchase_units: [{
                    amount: {
                    value: '{{ grand_total | stringformat:'d' }}'
                    }
                }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                
                var fname = jq("[name='fname']").val();
                var lname = jq("[name='lname']").val();
                var email = jq("[name='email']").val();
                var phone = jq("[name='phone']").val();
                var address = jq("[name='address']").val();
                var city = jq("[name='city']").val();
                var state = jq("[name='state']").val();
                var pincode = jq("[name='pincode']").val();
                var token = jq("[name='csrfmiddlewaretoken']").val();
                var paymentMethod = jq("[name='payment_method']").val();
                var data = {
                    "fname": fname,
                    "lname": lname,
                    "email": email,
                    "phone": phone,
                    "address": address,
                    "city": city,
                    "state": state,
                    "pincode": pincode,
                    "payment_method": paymentMethod,
                    "payment_id": orderData.id,
                    "csrfmiddlewaretoken": token
                };
                jq.ajax({
                    method: "POST",
                    url: "{% url 'placeorder' %}",
                    data: data,
                    success: function(response) {
                        swal("Congratulations!", response.status, "success").then((value) => {
                            window.location.href =response.redirect_url;
                    });
                    }
                });
                
                });
            },
            
            }).render('#paypal-button-container');
        });
    </script>

{% endblock scripts %} 

