{% extends 'layouts/main.html' %}
{% load static %}

{% block body %} 



{% include "inc/slider.html" %}  



<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
     {% for product in best_products %}
        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
          <div class="card">
            <div class="d-flex justify-content-between p-3">
              <p class="lead mb-0">Now Trending</p>
              <div
                class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                style="width: 35px; height: 35px;">
                <p class="text-white mb-0 small">x4</p>
              </div>
            </div>
            <a href="{% url 'single_product' product.id %}"> <img src="{{ product.product_thumbnail.url }}"
              class="card-img-top w-100 fixed-size-image" alt="Laptop" /></a>
           
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a href="#!" class="text-muted">{{product.product_brand}}</a></p>
              </div>

              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">{{product.product_name}}</h5>
                <h5 class="text-dark mb-0">{{product.product_price}}</h5>
              </div>

              <div class="d-flex justify-content-between mb-2">
                <p class="text-muted mb-0">Available: <span class="fw-bold">{{product.product_quantity}}</span></p>
                <div class="ms-auto text-warning">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section style="background-color: #89CFF0;">
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong>New Arrivals</strong></h4>
     <div class="row">
      {% for product in new_arrivals %}
          <div class="col-lg-3 col-md-6 mb-4">
              <div class="card position-relative">
                  <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                  <a href="{% url 'single_product' product.id %}">  <img src="{{ product.product_thumbnail.url }}"
                      class="w-100 fixed-size-image" /></a>
                    <a href="#!">
                      <div class="mask">
                        <div class="d-flex justify-content-start align-items-end h-100">
                          <h5><span class="badge bg-primary ms-2">New</span></h5>
                        </div>
                      </div>
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="" class="text-reset">
                      <h5 class="card-title mb-3">{{product.product_name}}</h5>
                    </a>
                    <a href="" class="text-reset">
                      <p>{{product.product_category}}</p>
                    </a>
                    <h6 class="mb-3">{{product.product_price}}</h6>
                  </div>
                </div>
            </div>
      {%endfor%}
     </div>
  </div>
</section>

<style>
  .fixed-size-image {
    width: 300px; /* Specify your desired width */
    height: 200px; /* Specify your desired height */
    object-fit: cover; /* Ensure the image fills the fixed size */
  }
</style>


{% endblock body %}

{% comment %} <style>
.product-list {
  display: flex;
  justify-content: space-between;
}

.product-item {
  margin-bottom: 20px; /* Adjust the value as desired */
}
</style> {% endcomment %}
