{% extends 'layouts/main.html' %}
{% load static %}

{% block body %}
<div class="inner_page-banner one-img" style="text-align: center; background: url('{% static 'lap/images/smallbanner.jpeg' %}') no-repeat center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -ms-background-size: cover; min-height: 350px;">
</div>

<div class="container">
  <div id="topdf">
    <div class="row" >
      <div class="col-md-12" >
        <h2>INVOICE</h2>
        <p>Invoice  Number: {{ order.id }}</p>
        <p>Order Number: {{ order.id }}</p>
        <p style="font-size: 1.2rem; font-weight: 600;">Shipping Address:</p>
        <p style="font-size: 1.2rem; font-weight: 400;">Name:{{ order.fname }} {{ order.lname }}</p>
        <p style="font-size: 1rem;">Email:{{ order.email }}</p>
        <p style="font-size: 1rem;">Phone:{{ order.phone }}</p>
        <p style="font-size: 1rem;">{{ order.city }}, {{ order.state }}</p>
        <p style="font-size: 1rem;">{{ order.address }}, {{ order.pincode }}</p>
     
        <p style="font-size: 1.2rem; font-weight: 600;">Payment Method: {{ order.payment_method }}</p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="font-size: 1.2rem; font-weight: 600;">Product</th>
                <th style="font-size: 1.2rem; font-weight: 600;">Quantity</th>
                

                {% comment %} <th>Subtotal</th> {% endcomment %}
              </tr>
            </thead>
            <tbody>
              {% for order_item in order_items %} 
              <tr>
                <td style="font-size: 1rem;">{{ order_item.product }}</td>
                <td style="font-size: 1rem;">{{ order_item.quantity }}</td>
                
                {% comment %} <td>{{ order_items.sub_total }}</td> {% endcomment %}
              </tr>
              {% endfor %}  
            </tbody>
          </table>
        </div>
        <p style="font-size: 1.2rem; font-weight: 600;">Total Amount: {{ order.total_mrp }}</p>
        <p style="font-size: 1.2rem; font-weight: 600;">Total Payment Amount: {{ order.payment_amount }}</p>
        
        <!-- Display any other relevant order information -->
      </div>
      
    </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
          <a href="{% url 'product_home' %}" class="btn btn-success mt-4"><b>Back to Home</b></a>
          <button onclick="downloadPDF()" class="btn btn-info mt-4">
              <b>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                      <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z" />
                      <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                  </svg>
                  Print Invoice
              </b>
          </button>
  </div>
</div>

<style>
  .inner_page-banner {
    background-image: url(https://www.lap.com/images/smallbanner.jpeg);
    background-size: cover;
    min-height: 350px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  .table-responsive {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  p {
    font-family: sans-serif;
    font-size: 1rem;
  }
  
  p.important {
    font-size: 1.2rem;
    font-weight: 600;
  }
</style>



{% endblock %}





