{% load static %}
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>LapHub</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"> 
      <!--//meta tags ends here-->
      <!--booststrap-->
       {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      {% comment %} <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"> {% endcomment %}
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      
      <!-- FontAwesome CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

      {% comment %} <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all"> {% endcomment %}
      <!-- //font-awesome icons -->
      <!-- For Clients slider -->
      <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="all" />
      <link rel="stylesheet" href="{% static 'css/mycss.css' %}" type="text/css" media="all" />
      <!--flexs slider-->
      {% comment %} <link href="{% static 'css/JiSlider.css' %}" rel="stylesheet"> {% endcomment %}
   
      <!--Shoping cart-->
      <link rel="stylesheet" href="{% static 'css/shop.css' %}" type="text/css" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">

      <!--//Shoping cart-->
      <!--price range-->
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui1.css' %}">
     
     
      <!--stylesheets-->
      <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">
      <link href="{% static 'css/mycss.css' %}" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>
      
      
   </head>
      {% include "inc/navbar.html" %} 
   <body>
         {% block body %}  

         {% endblock body %}

         {% include "inc/footer.html" %}  

         {% block scripts %}
   
         {% endblock scripts%}

   </body>
   

      
      <!--js working-->
      <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
      {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
      {% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> {% endcomment %}
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
      {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> {% endcomment %}
      
      <!--//js working-->
      <!-- cart-js -->
      <script src="{% static 'js/minicart.js' %}"></script>
      
            <script>
               toys.render();
               
               toys.cart.on('toys_checkout', function (evt) {
                  var items, len, i;
               
                  if (this.subtotal() > 0) {
                     items = this.items();
               
                     for (i = 0, len = items.length; i < len; i++) {}
                  }
               });
            </script> 
            <!-- //cart-js -->
            <!--responsiveslides banner-->
            <script src="{% static 'js/responsiveslides.min.js' %}"></script>
             <script>
               // You can also use "$(window).load(function() {"
               $(function () {
                  // Slideshow 4
                  $("#slider4").responsiveSlides({
                     auto: true,
                     pager:false,
                     nav:true ,
                     speed: 900,
                     namespace: "callbacks",
                     before: function () {
                        $('.events').append("<li>before event fired.</li>");
                     },
                     after: function () {
                        $('.events').append("<li>after event fired.</li>");
                     }
                  });
               
               });
      </script> 
      <!--// responsiveslides banner-->	 
      <!--slider flexisel -->
      <script src="{% static 'js/jquery.flexisel.js' %}"></script>
      <script>
         $(window).load(function() {
         	$("#flexiselDemo1").flexisel({
         		visibleItems: 3,
         		animationSpeed: 3000,
         		autoPlay:true,
         		autoPlaySpeed: 2000,    		
         		pauseOnHover: true,
         		enableResponsiveBreakpoints: true,
         		responsiveBreakpoints: { 
         			portrait: { 
         				changePoint:480,
         				visibleItems: 1
         			}, 
         			landscape: { 
         				changePoint:640,
         				visibleItems:2
         			},
         			tablet: { 
         				changePoint:768,
         				visibleItems: 2
         			}
         		}
         	});
         	
         });
      </script>
      <!-- //slider flexisel -->
      <!-- start-smoth-scrolling -->
      <script src="{% static 'js/move-top.js' %}"></script>
      <script src="{% static 'js/easing.js' %}"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- //bootstrap working-->



         <!--coupon  working-->
       <script>
         document.addEventListener('DOMContentLoaded', function() {
            var couponButtons = document.querySelectorAll('.coupon-btn');
            var couponCodeInput = document.getElementById('coupon_code');

            couponButtons.forEach(function(button) {
                  button.addEventListener('click', function() {
                     var code = this.dataset.code;
                     couponCodeInput.value = code;
                  });
            });
         });
      </script> 
    



         <!--bootstrap working-->  

     
 <script>

   function downloadPDF() {
      const element = document.getElementById('topdf');

      // configure the html2pdf options
      const options = {
            filename: 'Invoice.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2, scrollX: 0, scrollY: 0 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
      };

      // convert the element to PDF
      html2pdf().from(element).set(options).save();
   }
</script>

   
    
   
   