<!DOCTYPE html>
<html>
<head>
    <title>Forgotten your password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            text-align: center;
        }

        input[type="email"] {
            width: 250px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form style="margin-bottom: 15rem;" action="" method="post">
            <h1 class="mt-5">Forgotten your password</h1>
            <p class="mb-4">Enter your e-mail address to obtain a new password</p>
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" class="form-control" style="margin-left: 27rem;" placeholder="Enter your e-mail address" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Send e-mail">
            </div>
        </form>
    </div>
</body>
</html>