{% extends 'layouts/main.html' %}


{% load static %}

{% block body %}
<div class="inner_page-banner one-img" style="text-align: center; background: url('{% static 'lap/images/smallbanner.jpeg' %}') no-repeat center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -ms-background-size: cover; min-height: 350px;"></div>

<style>
  .big-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .big-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .small-images {
    display: flex;
   
    margin-top: 20px;
  }

  .small-image-box {
    width: 20%;
    cursor: pointer;
  }

  .small-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
</style>

<div class="container">
  <div class="inner-sec-shop pt-lg-4 pt-3">
    <div class="row">
      <div class="col-lg-6">
        <div class="big-image-container">
          <img src="{{ product.product_thumbnail.url}}" class="big-image" id="big-image" alt="Big Image">
        </div>
      </div>
      <div class="col-lg-6 single-right-left simpleCart_shelfItem">
        <h3>{{product.product_name}}</h3>
        <p><span class="item_price">${{product.product_price}}</span>
          <del></del>
        </p>
       
        <div class="description">
           <h5>{{product.product_description}}</h5>
        </div>
     
        <div class="occasion-cart">
            {% if product.product_quantity <= 0 %}
              <h5 class= "text-danger">Out Of Stock </h5>
            {% else %}
                  {% if in_cart %}  
                    <div class="toys single-item singlepage">
                    <form action="#" method="post">
                      {% csrf_token %}
                      {% comment %} <input type="hidden" name="quantity" value="1"> {% endcomment %}
                      <button type="submit" class="toys-cart ptoys-cart add">Already in cart</button>
                    </form>
                  </div>
                  <br>
                  <br>
                  <div class="toys single-item singlepage">
                      <form action="{% url 'cart' %}" method="post">
                        {% csrf_token %}
                        {% comment %} <input type="hidden" name="quantity" value="1"> {% endcomment %}
                        <button type="submit" class="toys-cart ptoys-cart add">ViewCart</button>
                      </form>
                    </div>
                  {% else %}
                    <div class="toys single-item singlepage">
                      <form action="{% url 'add_cart' product.id %}" method="post">
                        {% csrf_token %}
                        {% comment %} <input type="hidden" name="quantity" value="1"> {% endcomment %}
                        <button type="submit" class="toys-cart ptoys-cart add">Add to Cart</button>
                      </form>
                    </div>
                  {% endif %}
                    <div class="mt-2">
                        <form action="{% url 'add_to_wishlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit" class="wishlist-button">&#x2665;</button>
                        </form>
                    </div>
            {% endif %}
        </div>
      </div>
    </div>
        <div class="row mt-5">
        <div class="col-lg-12">
          <div class="small-images">
            {% for image in product.images.all %}
              <div class="small-image-box" onclick="showImage('{{ image.image1.url }}')">
                <img src="{{ image.image1.url }}" class="small-image" alt="Small Image">
              </div>
              {% if image.image2 %}
                <div class="small-image-box" onclick="showImage('{{ image.image2.url }}')">
                  <img src="{{ image.image2.url }}" class="small-image" alt="Small Image">
                </div>
              {% endif %}
              {% if image.image3 %}
                <div class="small-image-box" onclick="showImage('{{ image.image3.url }}')">
                  <img src="{{ image.image3.url }}" class="small-image" alt="Small Image">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>

{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.zoom/1.7.21/jquery.zoom.min.js"></script> {% endcomment %}
<script>
  function showImage(imageUrl) {
    var bigImage = $("#big-image");
    bigImage.attr("src", imageUrl);
    bigImage.data("zoom-image", imageUrl).attr("data-zoom-image", imageUrl);
    $('.flexslider1').flexslider(0);
    $('.zoomContainer').remove();
    bigImage.zoom();
  }
</script>

  
    

{% endblock %}