{% extends 'layouts/main.html' %}
{% load static %}

{% block body %}

<div class="inner_page-banner one-img" style="text-align: center; background: url('{% static 'lap/images/blackbanner.jpg' %}') no-repeat center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -ms-background-size: cover; min-height: 350px;"></div>

<!-- Page Header Start -->
<div class="container">
  <div>
      <h1 class="font-weight-semi-bold mt-2 " style = "color:blue">My Collections
      <a class="btn btn-primary float-end mt-2" href="{% url 'product_home' %}">Continue Shopping</a>
      </h1>
    </div>
  </div>
</div>  

<!-- Page Header End -->  

<!-- Shop Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5">

        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
          <div class="row pb-3">

            {% if  not wishlist.products.all %}
              <div class="col-12">
                <div class="text-center">

                  <h2>You have no products in your wishlist</h2>
                  
                </div>
              </div>
            {% else %}
                {% for product in wishlist.products.all %}
                  <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4" style="height: 30rem;">
                      <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a href="{% url 'single_product' product.id %}" class="btn btn-sm text-dark p-0">
                          <img class="img-fluid w-100" style="object-fit: contain;" src="{{ product.product_thumbnail.url }}" alt="">
                        </a>
                      </div>
                      <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{ product.product_name }}</h6>
                        <div class="d-flex justify-content-center">
                          <h6>${{ product.product_price }}</h6>
                        </div>
                      </div>
                      <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'wishlist_remove' product.id %}" onclick="return confirm('Are you sure you want to remove this item?')" class="btn btn-danger btn-sm">Remove</a>
                        <a href="{% url 'add_cart' product.id %}" class="btn btn-info btn-sm float-end">Add to Cart</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            {% endif %}
          </div>
        </div>

           <!-- Shop Product End -->
      </div>
    </div>
  
<!-- Shop End -->

{% endblock %}