def adminhome(request):
    if request.user.is_authenticated and request.user.is_admin == True:
        products = ProductDetails.objects.filter(is_active=True)
        critical_stock = [product for product in products if product.quantity <= 20]
        today_date = datetime.now().date()
        k = OrderDetails.objects.filter(date_and_time__date=today_date).order_by(
            "-date_and_time"
        )
        daily_total_revenue = 0
        week_start_date = today_date - timedelta(days=today_date.weekday())
        week_end_date = week_start_date + timedelta(days=6)
        weekly_total_revenue = 0
        month_start_date = today_date.replace(day=1)
        month_end_date = month_start_date.replace(day=28) + timedelta(days=4)
        monthly_total_revenue = 0
        # Revenue showcasing area__________________________________________________________________________________________
        sales = (
            Sales.objects.all()
            .values("date")
            .annotate(total_revenue=Sum("revenue"))
            .order_by("date")
        )
        daily_revenue = (
            Sales.objects.filter(date=today_date)
            .values("product_name")
            .annotate(total_revenue=Sum("revenue"))
        )
        weekly_revenue = (
            Sales.objects.filter(date__range=[week_start_date, week_end_date])
            .values("product_name")
            .annotate(total_revenue=Sum("revenue"))
        )
        monthly_revenue = (
            Sales.objects.filter(date__range=[month_start_date, month_end_date])
            .values("product_name")
            .annotate(total_revenue=Sum("revenue"))
        )
        for sale in sales:
            if sale["date"] == today_date:
                daily_total_revenue += sale["total_revenue"]

        week_revenue_date = []
        week_revenue_data = []
        current_date = week_start_date
        while current_date <= week_end_date:
            week_revenue_date.append(str(current_date.strftime("%d-%m-%Y")))
            current_date_revenue = sales.filter(date=current_date).aggregate(
                total_revenue=Sum("total_revenue")
            )
            week_revenue_data.append(str(current_date_revenue["total_revenue"]))
            if current_date_revenue["total_revenue"]:
                weekly_total_revenue += current_date_revenue["total_revenue"]
            else:
                weekly_total_revenue += 0
            current_date += timedelta(days=1)

        month_revenue_date = []
        month_revenue_data = []
        current_date = month_start_date
        while current_date <= month_end_date:
            month_revenue_date.append(str(current_date.strftime("%d-%m-%Y")))
            current_date_revenue = sales.filter(date=current_date).aggregate(
                total_revenue=Sum("total_revenue")
            )
            month_revenue_data.append(str(current_date_revenue["total_revenue"]))
            if current_date_revenue["total_revenue"]:
                monthly_total_revenue += current_date_revenue["total_revenue"]
            else:
                monthly_total_revenue += 0
            current_date += timedelta(days=1)

        products = []
        product_color = []
        product_daily_revenue = []
        product_weekly_revenue = []
        product_monthly_revenue = []

        daily_revenue_product_list = []
        for revenue in daily_revenue:
            daily_revenue_product_list.append(revenue["product_name"])
        weekly_revenue_product_list = []
        for revenue in weekly_revenue:
            weekly_revenue_product_list.append(revenue["product_name"])

        monthly_revenue_product_list = []
        for revenue in monthly_revenue:
            monthly_revenue_product_list.append(revenue["product_name"])

        products_list = ProductDetails.objects.all()
        for product in products_list:
            products.append(product.productname)
            product_color.append(generate_hex_color())

            if product.productname in daily_revenue_product_list:
                for revenue in daily_revenue:
                    if revenue["product_name"] == product.productname:
                        product_daily_revenue.append(
                            str((revenue["total_revenue"] / daily_total_revenue) * 100)
                        )
            else:
                product_daily_revenue.append("0")

            if product.productname in weekly_revenue_product_list:
                for revenue in weekly_revenue:
                    if revenue["product_name"] == product.productname:
                        product_weekly_revenue.append(
                            str((revenue["total_revenue"] / weekly_total_revenue) * 100)
                        )
            else:
                product_weekly_revenue.append("0")

            if product.productname in monthly_revenue_product_list:
                for revenue in monthly_revenue:
                    if revenue["product_name"] == product.productname:
                        product_monthly_revenue.append(
                            str(
                                (revenue["total_revenue"] / monthly_total_revenue) * 100
                            )
                        )
            else:
                product_monthly_revenue.append("0")

        # revenue section ends here_______________________________________________________________________________
        # Order showcasing section________________________________________________________________________________
        today_orders = OrderDetails.objects.filter(date_and_time__date=today_date)
        week_orders = OrderDetails.objects.filter(
            date_and_time__date__range=(week_start_date, week_end_date)
        )
        month_orders = OrderDetails.objects.filter(
            date_and_time__date__range=(month_start_date, month_end_date)
        )
        today_orders_count = today_orders.count()
        week_orders_count = week_orders.count()
        month_orders_count = month_orders.count()

        week_order_date = []
        week_order_data = []
        current_date = week_start_date
        while current_date <= week_end_date:
            week_order_date.append(str(current_date.strftime("%d-%m-%Y")))
            week_order_data.append(
                OrderDetails.objects.filter(date_and_time__date=current_date).count()
            )
            current_date += timedelta(days=1)

        month_order_date = []
        month_order_data = []
        current_date = month_start_date
        while current_date <= month_end_date:
            month_order_date.append(str(current_date.strftime("%d-%m-%Y")))
            month_order_data.append(
                OrderDetails.objects.filter(date_and_time__date=current_date).count()
            )
            current_date += timedelta(days=1)

        # order section ends here________________________________________________________________________________
        context = {
            "s": k,
            "today_date": today_date,
            "daily_total_revenue": daily_total_revenue,
            "critical_stock": critical_stock,
            "week_revenue_date": week_revenue_date,
            "week_revenue_data": week_revenue_data,
            "week_start_date": week_start_date,
            "week_end_date": week_end_date,
            "weekly_total_revenue": weekly_total_revenue,
            "month_revenue_date": month_revenue_date,
            "month_revenue_data": month_revenue_data,
            "month_start_date": month_start_date,
            "month_end_date": month_end_date,
            "monthly_total_revenue": monthly_total_revenue,
            "daily_revenue": daily_revenue,
            "weekly_revenue": weekly_revenue,
            "monthly_revenue": monthly_revenue,
            "today_orders_count": today_orders_count,
            "week_orders_count": week_orders_count,
            "month_orders_count": month_orders_count,
            "week_order_date": week_order_date,
            "week_order_data": week_order_data,
            "month_order_date": month_order_date,
            "month_order_data": month_order_data,
            "products": products,
            "product_color": product_color,
            "product_daily_revenue": product_daily_revenue,
            "product_weekly_revenue": product_weekly_revenue,
            "product_monthly_revenue": product_monthly_revenue,
        }
        return render(request, "adminside/adminhome.html", context)
    else:
        return render(request, "adminside/adminlogin.html")