{% extends 'layouts/main.html' %}
{% load static %}

{% block body %}
<div class="inner_page-banner one-img" style="text-align: center; background: url('{% static 'lap/images/smallbanner.jpeg' %}') no-repeat center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -ms-background-size: cover; min-height: 350px;"></div> 


<div class="container">
   <div class="row">
      <div class="col-md-6 offset-md-3">
         <h2>Change Password</h2>
         <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
               <label for="{{ field.id_for_label }}">{{ field.label }}</label>
               {{ field }}
               {% if field.errors %}
               <span class="text-danger">
                  {% for error in field.errors %}
                  {{ error }}
                  {% endfor %}
               </span>
               {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Change Password</button>
         </form>
      </div>
   </div>
</div>
{% endblock %}
