<!DOCTYPE html>
<html>
<head>
  <title>OTP Verification</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container center-container">
    <div>
      <h2 class="text-center mb-4">OTP Verification</h2>
      <form action="{% url 'verify_mobileotp' %}" method="POST">
        {% csrf_token %}
       
        <div class="form-group">
          <label for="otp">OTP:</label>
          <input type="text" class="form-control short-input" id="otp" name="otp" placeholder="Enter the OTP" required>
        </div>
        <button type="submit" class="btn btn-primary">Verify OTP</button>
      </form>
    </div>
  </div>
</body>
</html>
